.wholecbcallservices {
    padding: 10px 50px 10px 50px;
}

.mainHeadingfontcbcall {
    /* font-size: 40px; */
    margin: 50px 0px 0px 0px;

}

.Paragraphcbcallsermin {
    padding: 0px 170px;
    font-size: 14px;

}

.Paragraphcbcpara {
    font-weight: 300;
}

.classforpaddindcdc {
    padding-top: 50px;
}

.Paragraphcbcpara1 {
    text-align: justify;
    margin: 0px;
}



.classforpaddindcdctext {
    align-self: center;
}

.Paragraphcbcparaonly {
    padding: 0px 150px;
}

.formobolecbcimg {
    width: 100%;
}

.imagehovercbd {
    transition: all ease-out 1s;
}

.imagehovercbd:hover {
    transform: scale(1.2);
}

.forpccbcimg {
    display: block;
}

.formobolecbcimg {

    display: none;
}

@media screen and (max-width: 500px) and (max-height: 812px) {
    .mainHeadingfontcbcall {
        /* font-size: 28px; */
        margin: 0px;
    }

    .forpccbcimg {
        display: none;
    }

    .formobolecbcimg {

        display: block;
    }

    .forimgemargin {
        margin: 20px 0px;
    }

    .Paragraphcbcpara1 {

        margin-bottom: 20px;
    }

    .ParagraphH2P {
        font-size: 14px;
        font-weight: 300;
    }

    .Paragraphcbcpara {

        font-weight: 300;
        text-align: justify;
    }

    .Paragraphcbcparaonly {
        padding: 0px 0px;
    }

    .wholecbcallservices {
        padding: 10px 30px 10px 30px;
    }

    .Paragraphcbcallsermin {
        padding: 0px 0px;


    }

    .classforpaddindcdc {
        padding-top: 10px;
    }

    .fororder2 {
        order: 2;
    }

    .fororder1 {
        order: 1;
    }

    .imagehovercbd {
        transition: all ease-out 1s;
    }

    .imagehovercbd:hover {
        transform: scale(1.1);

    }
}