.imgforcbcideal {
    height: 290px;
}

.CBCPackingIdealwhole {
    padding: 80px 50px 0px 50px;
}

.CBCPackingIdealtext1 {
    padding: 0px 30px 0px 15px;
    align-self: center;
}

.CBCPackingIdealimg {
    display: flex;
    justify-content: end;
}

.CBCPackingIdealtext2 {
    padding: 0px 50px 0px 15px;
    align-self: center;
}

.CBCPackingIdealwhole1 {
    padding-bottom: 50px;
}

@media screen and (max-width: 500px) and (max-height: 812px) {
    .CBCPackingIdealtext1 {
        order: 2;
    }

    .CBCPackingIdealimg1 {
        order: 1;
    }

    .CBCPackingIdealwhole {
        padding: 20px 30px 20px 30px;
    }

    .CBCPackingIdealtext1 {
        padding: 0px 20px 0px 20px;
        align-self: center;
        text-align: justify;
    }

    .CBCPackingIdealwhole1 {
        padding-bottom: 30px;

    }

    .CBCPackingIdealimg {
        padding-bottom: 30px;
    }

    .CBCPackingIdealtext1 {
        padding: 20px 20px 20px 20px;
        align-self: center;
        text-align: justify;
    }
}