.small-container {
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 20px;
}

.mainforpad1 {
  padding-left: 30px;
}

.rowforthis2 {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 30px;

}

.single-product1 {
  margin-top: 80px;
  /* padding: 10px 40px 10px 40px; */
}

.small-img-row {
  display: flex;
  justify-content: space-around;
}

.col2rec img {
  max-width: 100%;
  padding: 0px 0px;

}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

.single-product1 .col2rec img {
  padding: 0;
}



.formfororder1 {
  border-radius: 15px;
  background: #9bc194;
  /* padding: 30px; */
  padding: 25px 25px 20px 25px;

}

.formfororder1 input {
  height: 35px;
}

.formfororder1 textarea {
  height: 80px;
}

.tabcomdisc1 {
  padding-left: 50px;
}

.ParagraphH2P12 {
  font-size: 14px;
}

.form-control2::placeholder {
  font-size: 14px;
  /* color: #ccc; */
}

.uploadsample {
  display: flex;
  margin-bottom: 10px;
}

.uploadsampletext {
  align-self: center;
  margin: 0px 10px 0px 0px;

}

.mainHeadingH2pcs {
  font-size: 28px;
}

@media screen and (max-width: 500px) and (max-height: 812px) {
  .rowforthis2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    /* padding: 30px 30px 30px 30px; */

  }

  .mainHeadingH2pcs {
    font-size: 24px;
  }

  .mainforpad1 {
    padding: 10px 10px;
  }

  .formfororder2 {
    border-radius: 15px;
    background: #9bc194;
    /* padding: 30px; */
    padding: 15px 10px 10px 10px;

  }

  .formfororder2 input {
    height: 30px;
  }

  .formfororder2 textarea {
    height: 80px;
  }

  .form-control1::placeholder {
    /* color: #ccc; */
    font-size: 10px;
    font-weight: 300;
  }

  .ParagraphH2P12 {
    font-size: 14px;
    text-align: justify;
  }

  .single-product1 {
    margin-top: 0px;
  }

  .formfororder {
    padding: 15px 10px;
  }
}