.Samplepadetextandformall {
    margin-top: 80px;
    padding: 0px 50px;
}

@media screen and (max-width: 500px) {
    .Samplepadetextandformall {
        margin-top: 30px;
        padding: 0px 30px;
    }

}