.main123 {
    display: flex;
    align-items: center;
    /* margin-left: 100px; */

}

.wholecustomebox {
    margin-top: 80px;
    padding: 0px 30px;
}

.cardcustomhover:hover .imageForCustomPage {
    filter: brightness(0) invert(1);
    transition: all 0.5s ease;
    width: 38vw;


}

.dash-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    color: #3498db;
    /* Adjust color as needed */
    cursor: pointer;
    transition: color 0.3s ease;
    /* Optional: Add a smooth color transition on hover */
}

.dash-button:hover {
    color: #2980b9;
    /* Adjust hover color as needed */
}

.cardcustomhover {
    /* background-color: #3a776c; */
    border-radius: 10px;
    /* border: 2px solid;
    border-image: linear-gradient(to right, #3A776C, #FFFFFF, #FFFFFF, #FFFFFF, #3A776C);
    border-image-slice: 1; */
    transition: all 0.5s ease;
}

.cardcustomhover:hover {
    background-color: #9bc194;
    transition: all 0.5s ease;
}

.cardcustomhover:hover {
    color: aliceblue;
    transition: all 0.5s ease;

}

.cardcustomhover:hover h5 {
    color: white;
    transition: all 0.5s ease;

}

.cardcustomhover:hover p {
    color: white;
    transition: all 0.7s ease;
}

.main1img1 {
    margin-bottom: 150px;
}

.main1img1 {}

.main2img2 {
    margin: 150px 0px;
}

.main2img1 {
    margin-bottom: 0px;
}

.main2img3 {
    margin-top: 0px;
}

.formid {
    margin-left: 0px;
}

.cpcolor {
    color: #15555F;
}

.forbigscreencustompakages {
    display: block;
}

.formbscreencustompakages {
    display: none;
}

.styleforcardcustom {}

@media screen and (max-width: 375px) and (max-height: 812px) {

    /* .imgimgimg {
        height: 120px;
        max-width: 100%;
    } */
    /* .imageForCustomPage {
        max-width: 80%;
        width: 80%;
    } */
    .wholecustomebox {
        margin-top: 30px;
    }

    .main123 {
        display: block;
        /* align-items: center; */
        margin: 10px;
    }

    .main1img1 {
        margin-bottom: 0px;
    }

    .main1 .main1img1 {
        order: 2;
    }

    .main3 .main2img3 {
        order: 1;
    }

    .main2 img {
        display: none;
        /* height: 300px; */
    }

    .main1img2 {
        margin-top: 10px;
        order: 3;
    }

    .main2img2 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .main2img1 {
        margin-bottom: 10px;
        margin-top: 10px;
        order: 0;
    }

    .main2img3 {
        margin-top: 10px;
    }


    .formid {
        margin-left: 0px;
    }

    .forbigscreencustompakages {
        display: none;
    }

    .formbscreencustompakages {
        display: block;
    }


    .cpcolor {
        margin-bottom: 10px !important;
        /* font-size: 24px; */
        font-weight: 500;
    }

    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;

        .card {
            display: inline-block;
        }
    }
}