.Tabproductfirst {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.Tabproductfirstparagraph {
    color: #28354C;
    font-size: 11px;
    font-family: 'Poppins';
    padding: 0px 5px;
    text-align: justify;
}

.Tabproductfirstheading {
    padding-left: 5px;
    padding-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
}

.completecoltabproduct {

    width: 300px;
    height: 360px;
    padding: 0px;
    background-color: #F6F6F6;
    border-radius: 10px;
}

.completecoltabproduct1 {
    margin-right: 48px;
}

.bannarmidclass1 {
    padding: 20px;

}

.cardrangforcpa {
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: 8px;
    border: none;
    box-shadow: 0 4px 10px rgb(58, 119, 108, 0.25);
    height: 345px;
}

.wholecustompall {
    padding: 0px 80px;
}


@media (max-width: 500px) {
    .Tabproductfirstrow {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }


    .completecoltabproduct1 {
        margin-right: 0px;
        margin-bottom: 50px;
    }

    .wholecustompall {
        padding: 0px 30px;
    }

    .cardrangforcpa {
        background-color: #F6F6F6;
        border-radius: 10px;
        padding: 8px;
        border: none;
        box-shadow: 0 4px 10px rgb(58, 119, 108, 0.25);
        height: 280px;
    }
}